:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 4px;
  padding: 8px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.active {
  background-color: #4caf50;
}

.odd {
  background-color: #ffca28;
}

.even {
  background-color: #66bb6a;
}
