<ul>
  <li *ngIf="userA; else loading">
    <p *ngIf="userA.premium">
      name: {{userA.name}}, premium: {{userA.premium ? 'Yes' : 'No'}}
    </p>
  </li>
  <li *ngIf="userB">
    <p *ngIf="userB.premium">
      name: {{userB.name}}, premium: {{userB.premium ? 'Yes' : 'No'}}
    </p>
  </li>
  <li *ngIf="userC">
    <p *ngIf="userC.premium">
      name: {{userC.name}}, premium: {{userC.premium ? 'Yes' : 'No'}}
    </p>
  </li>
  <li *ngIf="userD">
    <p *ngIf="userD.premium">
      name: {{userD.name}}, premium: {{userD.premium ? 'Yes' : 'No'}}
    </p>
  </li>
</ul>

<ng-template #loading>Loading...</ng-template>
