<section>
  <span>Red:</span>
  <input type="range" min="0" max="255" value="0" (change)="updateRed($event)">
  <div>{{red}}</div>
</section>

<section>
  <span>Green:</span>
  <input type="range" min="0" max="255" value="0" (change)="updateGreen($event)">
  <div>{{green}}</div>
</section>

<section>
  <span>Blue:</span>
  <input type="range" min="0" max="255" value="0" (change)="updateBlue($event)">
  <div>{{blue}}</div>
</section>

<hr>

<section>
  <span>Result:</span>
  <div></div>
</section>
